# Archivos de compilación
*.o
*.obj
*.out
*.exe
*.log
*.a
*.so
*.dll
*.dylib
*.pdb
*.lib

# Carpetas de compilación
/build/
/cmake-build-*/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Archivos de editores/IDE
.vscode/
.idea/
*.swp
*~

# Archivos generados por pruebas
/tests/*.out
